UnitTestProject/bin/Debug/
UnitTestProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTestProject/obj/Debug/TestDrivenDevelopmentApplicationExample.Tests.csproj.FileListAbsolute.txt
UnitTestProject/obj/Debug/UnitTestProject.dll
TestDrivenDevelopedApplicationExample/bin/Debug/
TestDrivenDevelopedApplicationExample/obj/Debug/TestDrivenDevelopedApplicationExample.pdb
